<div class="footer">
      <a href='?locale=en' class="w3-button w3-white w3-padding-2"></i>English</a>
      <a href='?locale=ar' class="w3-button w3-white w3-padding-2"></i><%= t 'button.Arabic' %></a>

      <p> Copyright @ 2022 - Sprints - author: Mady , e-mail: ahmed.mady99@gmail.com </p>
</div>